<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
    <div class="col-md-3">
        <div class="titulo-nav">
            <p>PRINCIPAL</p>
        </div>
        <div class="position">            
            <ul>
                <li>
                    <a class="estilo" aria-disabled="false">
                        <span class="mat-button-wrapper">Listado Productos</span>
                    </a>                    
                </li>
                    
                <li>
                    <a class="estilo" aria-disabled="false">
                        <span class="mat-button-wrapper">Facturas</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="titulo2-nav">
            <p>PANEL DE ADMINISTRACIÓN</p>
        </div>
        <div class="position2">            
            <ul>
                <li>
                    <a class="estilo" routerLink="/categorias/showcategorias" aria-disabled="false">
                        <span class="mat-button-wrapper">Categorias</span>
                    </a>                    
                </li>
                    
                <li>
                    <a class="estilo" routerLink="/proveedores/showproveedores" aria-disabled="false">
                        <span class="mat-button-wrapper">Proveedores</span>
                    </a>
                </li>

                <li>
                    <a class="estilo"  routerLink="/clientes/showclientes" aria-disabled="false">
                        <span class="mat-button-wrapper">Clientes</span>
                    </a>
                </li>

                <li>
                    <a class="estilo" routerLink="/proveedores/showproveedores" aria-disabled="false">
                        <span>Mi cuenta</span>
                    </a> 
                </li>
            </ul>    
        </div>  
        <hr>         
    </div>  
    
    <div class="col-md-9">
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>





