.position{
    margin-top: 0.3cm;
    margin-left: 2cm;
    margin-bottom: 1cm;
    display: block;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14.4px;
}

.position2{
    margin-top: 0.3cm;
    margin-left: 2cm;
    display: block;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14.4px;
}

a{
    text-decoration: none;
    color: #1997c6;
}

a:hover, a:active{
    color: gray;
}

ul{
    list-style-type: none;
}

hr{
    border-color: #1997c6;
    margin-left: 3cm;
    margin-right: 0.5cm;
}

.estilo{
    display: block;
    padding: 0.8rem 1rem;
}

.titulo-nav{
    color: #51586a;
    display: block;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14.4px;
    margin-top: 4cm;
    margin-left: 3cm;
}

.titulo2-nav{
    color: #51586a;
    display: block;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14.4px;

    margin-left: 3cm;
}
