<!-- <div class="container-fluid">
    <div class="container xd-container">
      <h2>Categorias</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>NOMBRE</th>
          </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let categoria of categorias">
              <td>{{categoria.id}}</td>
              <td>{{categoria.nombre}}</td>
            </tr>
          </tbody>
        </table>
        <div>
          <button class="btn btn-default">Añadir Categoria</button>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let categoria"> {{categoria.id}} </td>
          </ng-container>
        
          <!-- Nombre Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let categoria"> {{categoria.nombre}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>

