<div class="bloque1">
    <div class="mensaje_ini">
        <p>GESTIÓN DE FACTURAS Y PRODUCTOS</p>          
    </div> 
    <div class="boton">
        <button mat-raised-button (click)="start()">Empezar</button>
    </div>
    </div>
    
    <div class="container">
        <h4 class="titulo2">Bienvenido a tu Sistema de Gestión</h4>
    </div>
    
    <div class="continer">
        <div class="row">
            <div class="col-md-6">
                <h6 class="subtitulo1"><i class="material-icons">
                    highlight
                    </i> Introducción al sistema</h6>
                    <p class="texto1">Este software será muy sencillo de utilizar. Podrás gestionar tus clientes, empleados, productos y tus proveedores.</p>
            </div>
            <div class="col-md-6">
                <h6 class="subtitulo2"><i class="material-icons">
                        fingerprint
                    </i> Tu cuenta</h6>
                <p class="texto2">Sólo podrás acceder al software si tienes permiso del administrador. Si no tienes una cuenta, pide permiso!</p>           
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-6">
                <h6 class="subtitulo1"><i class="material-icons">
                        library_books
                    </i> Creación de facturas</h6>
                    <p class="texto1">Este software contará con un sistema de facturación. Podrás crear facturas a 
                        a un determinado cliente, podrás eliminala y puedes exportarla como PDF! </p>
            </div>
            <div class="col-md-6">
                <div class="ultimo_bloque">
                    <h6 class="subtitulo2"><i class="material-icons">
                            euro_symbol
                        </i> Más beneficios</h6>
                    <p class="texto2">Al utilizar esta aplicación, obtendrás más beneficios, ya que tienes un control de todo lo que necesitas,
                        por lo que se guardará todo la información en este software!
                    </p>
                </div>            
            </div>
        </div>
    </div>
