<div class="bloque1">
    <div class="mensaje_ini">
        <p>GESTIÓN DE FACTURAS Y PRODUCTOS</p>          
    </div> 
    <div class="mensaje_ini2">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="boton">
        <button mat-raised-button (click)="start()">Empezar</button>
    </div>
    </div>
    
    <div class="container">
        <h4 class="titulo2">Bienvenido a tu Sistema de Gestión</h4>
    </div>
    
    <div class="continer">
        <div class="row">
            <div class="col-md-6">
                <h6 class="subtitulo1"><i class="material-icons">
                    highlight
                    </i> Introducción al sistema</h6>
                    <p class="texto1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="col-md-6">
                <h6 class="subtitulo2"><i class="material-icons">
                        fingerprint
                    </i> Tu cuenta</h6>
                <p class="texto2">It is a long established fact that a reader will be distracted by the readable content of a 
                    page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                    normal distribution of letters.</p>           
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-6">
                <h6 class="subtitulo1"><i class="material-icons">
                        library_books
                    </i> Creación de facturas</h6>
                    <p class="texto1">There are many variations of passages of Lorem Ipsum available, 
                        but the majority have suffered alteration in some form, 
                        by injected humour, or randomised words which don't look even slightly believable. </p>
            </div>
            <div class="col-md-6">
                <div class="ultimo_bloque">
                    <h6 class="subtitulo2"><i class="material-icons">
                            euro_symbol
                        </i> Más beneficios</h6>
                    <p class="texto2">Contrary to popular belief, Lorem Ipsum is not simply random text. 
                        It has roots in a piece of classical Latin 
                        literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                </div>            
            </div>
        </div>
    </div>
