<app-edit-proveedor *ngIf="proveedorSeleccionado" [proveedor]="proveedorSeleccionado"></app-edit-proveedor>
<app-add-proveedor></app-add-proveedor>
<div class="row">
  <div class="col-md-3">
    <app-sidenav></app-sidenav>
  </div>
  <div class="col-md-9">
    <div class="row">
      <h2 class="titulo">Listado de Proveedores</h2>
    </div>
    <div class="bloque1">  
        <button type="button" class="btn btn-outline-info btn-sm agregar" data-toggle="modal" data-target="#modalAgregar">Agregar</button>  
        <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Empresa</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col">Estado de pago</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proveedor of proveedores">
            <td>{{proveedor.empresa}}</td>
            <td>{{proveedor.direccion}}</td>
            <td>{{proveedor.telefono}}</td>
            <td>{{proveedor.email}}</td>
            <td>{{proveedor.estado_pago}}</td>
            <td>{{proveedor.create_time | date:'dd - MM - yyyy'}}</td>
            <td>
              <button type="button" class="btn btn-outline-info btn1" (click)="abrirModal(proveedor)" data-toggle="modal" data-target="#modalEditar"> 
                <a>
                    <i class="material-icons" style="margin-right: 4%">edit</i>
                </a>
              </button>          
              <button type="button" class="btn btn-outline-info btn2" >
                <a (click)="delete(proveedor)">
                    <i class="material-icons">delete_outline</i>           
                </a>
              </button>          
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
