.bloque1{
    margin-left: 1cm;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;  
    margin-right: 2cm;
    margin-bottom: 2cm;
}

hr{
    border-color: #1997c6;
    margin-right: 2cm;
    margin-bottom: 0.5cm;
    
}

.titulo{
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 1cm;
    margin-top: 2cm;
    font-size: 2rem;
    margin-bottom: 0.3rem;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.2;
    color: inherit;
}

.pdf{
    text-decoration: none;
    color: #dc3545;
}

a:hover{
    color: white;
}
