<app-edit-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></app-edit-cliente>
<app-add-cliente></app-add-cliente>
<div class="row">
  <div class="col-md-3">
    <app-sidenav></app-sidenav>
  </div>
  <div class="col-md-9">
    <div class="row">
        <h2 class="titulo">Listado de Clientes</h2>
    </div>
    <div class="bloque1">  
        <button type="button" class="btn btn-outline-info btn-sm agregar" data-toggle="modal" data-target="#modalAgregar">Agregar</button>  
        <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Detalle</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Dirección</th>
            <th scope="col">Email</th>
            <th scope="col">Movil</th>
            <th scope="col">Fecha de Alta</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>
              <button type="button" class="btn btn-outline-info btn-sm" (click)="verDetalle(cliente.id)">
                  <i class="material-icons">
                      touch_app
                      </i>
              </button>
            </td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellidos}}</td>
            <td>{{cliente.direccion}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.movil}}</td>
            <td>{{cliente.create_time | date:'dd - MM - yyyy'}}</td>
            <td>
              <button type="button" class="btn btn-outline-info btn1" (click)="abrirModal(cliente)" data-toggle="modal" data-target="#modalEditar"> 
                <a>
                    <i class="material-icons" style="margin-right: 4%">edit</i>
                </a>
              </button>          
              <button type="button" class="btn btn-outline-info btn2" >
                <a (click)="delete(cliente)">
                    <i class="material-icons">delete_outline</i>           
                </a>
              </button>          
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
