<div class="bloque1">
  <div *ngIf="producto">
    <div class="row">
        <h2 class="titulo">{{producto.nombre}}</h2>  
    </div>
    <hr/>
    <div class="card bg-light">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-sm">

              <ul class="list-group">
                <li class="list-group-item"><b>Descripcion: </b>{{producto.descripcion}}</li>
                <li class="list-group-item"><b>Color: </b>{{producto.color}}</li>
                <li class="list-group-item"><b>Talla: </b>{{producto.talla}}</li>
                <li class="list-group-item"><b>Material: </b>{{producto.material}}</li>
                <li class="list-group-item"><b>Precio: </b>{{producto.precio}} €</li>
                <li class="list-group-item"><b>Stock: </b>{{producto.stock}}</li>
              </ul>

              <div class="input-group" *ngIf="!producto?.imagen">
                <div class="custom-file">
                  <input type="file" (change)="seleccionarImg($event)" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label" for="inputGroupFile04">Elige la imagen</label>
                </div>
                <div class="input-group-append">
                  <button (click)="uploadImagen()" [disabled]="!imgSeleccionada" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
                </div>                
              </div>

              <button class="btn btn-light btn-sm" type="button" (click)="gotoProductos()">Volver</button>
              <button class="btn btn-outline-danger btn-sm float-right" type="button" (click)="delete(producto)">Eliminar</button>
            </div>
            <div class="col-sm"> 
              <img *ngIf="producto?.imagen" src="http://localhost:8080/productos//uploadImagen/{{producto.imagen}}" alt="{{producto.imagen}}" width="500cm;" height="650cm;" class="img-thumbnail rounded">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
